.container{
    width: 600px;
    height: 600px;
    background-color:antiquewhite;
    position: relative;
}
.box{
    width: 150px;
    height: 150px;
    background-color:blue;
    border-radius: 100%;
    position: absolute;
    animation-name: boxs;
    animation-iteration-count:infinite;
    animation-duration: 6s;
    /* animation-fill-mode: backwards; */
}
@keyframes boxs {
    0%{
        top: 30px;
        left: 30px;
    }
    25%{
        top: 20px;
        left: 400px;
        background-color:red;
        border-radius: 0;
    }
    50%{
        top :400px;
        left:400px;
        background-color:green;
        border-radius: 100%;
    }
    75%{
        top: 400px;
        left: 30px;
        background-color:orange;
        border-radius: 0;
    }
    100%{
        top:30px;
        left: 30px;
        border-radius: 50%;
    }
}